{{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>PAD {{msg}}</h1>


        <div class="form-group">



          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Patient Search
              <span class=""></span></button>
            <ul class="dropdown-menu">
              {{#each patients}}
              <li data-id="{{patienet_id}}" class="list-group-item">
                <a href="/dashboard/{{last_name}}"> {{first_name}} {{last_name}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div>
            <h3>Patient:</h3>
            <ol id="example-list" class="list-group">

              <li>Name: {{patients.first_name}} {{patients.last_name}}</li>
              <li>Id: {{patients.patient_id}}</li>
              <li>Address: {{patients.address}}</li>
              <li>Phone Number: {{patients.phone}}</li>
              <li>Sex: {{patients.sex}}</li>
              <li> Birthday: {{patients.birth}}</li>


            </ol>

          </div>
          <div>
            <img src="{{patients.image}}" width="100px" height="100px">
          </div>

          <div class="text-center">
            <a href="/results"><button class="btn  btn-warning">Allergy Data</button></a>
          </div>

          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
          
         
        </div>
      </div>
    </div>
  </div>
   {{!-- <script type="text/x-handlebars-templet">
           var firstName = {{first_name}};
            console.log(firstName);
            
            </script> --}}

  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/index.js"></script> --}}