
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="./js/index.js"></script>

<link rel="stylesheet" href="../styles/allergies.css">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href=“https://fonts.googleapis.com/css?family=Roboto:400,500” rel=“stylesheet”>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/dropdown.js/0.0.2dev/jquery.dropdown.min.js">
{{!-- <div style="background-image: url(images/allergy.jpg)"> 
Moved this to allergy.css file--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>P.A.D.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/allergies.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href=“https://fonts.googleapis.com/css?family=Roboto:400,500” rel=“stylesheet”>
</head>


<div id="top">
    <div class="container" id="logo">
        <span>
            <p><img src="/images/logo.png" width="100" height="100">Patient</p>
            <br>
            <p>Allergy</p>
            <br>
            <p>Database</p>
        </span>
    </div>
    <div class="container" id="title">
        <h1>Tested & Treated Allergies</h1>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <form class="form-group row justify-content-center">

            {{!-- add drop down --}}
            <div class="dropdown">
                <button class="btn bg-light text-dark dropdown-toggle" type="button" data-toggle="dropdown">Patient
                    Search
                    <span class=""></span></button>
                <ul class="dropdown-menu">

                    {{#each patients}}

                    <li data-id="{{patient_id}}" class="list-group-item">
                        <a href="..\results/{{last_name}}"> {{first_name}} {{last_name}}</a>
                    </li>

                    {{/each}}
                </ul>

                <h4 class="name">Name: {{patients.first_name}} {{patients.last_name}}</h4>
                {{!-- <input type="DOB" class="form-control" id   ="DOB" placeholder=""> --}}
            </div>
        </form>
    </div>
</div>


<div class="container" id="formContain">
    <form id="results-form">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th id="first" scope="col">P.A.D.</th>
                    <th scope="col">CAT</th>
                    <th scope="col">DOG</th>
                    <th scope="col">EPIC</th>
                    <th scope="col">GRASS</th>
                    <th scope="col">PIG</th>
                    <th scope="col">RAG</th>
                    <th scope="col">TREE</th>
                    <th scope="col">OAK</th>
                    <th scope="col">PLANT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"
                        data-balloon="Results from Allergy Test, 1 being the least severe, 12 being the most"
                        data-balloon-pos="up">Test Results (1-12)</th>
                    <td><input id="cat_test" type="number" min="0" max="12"></td>
                    <td><input id="dog_test" type="number" min="0" max="12"></td>
                    <td><input id="epic_test" type="number" min="0" max="12"></td>
                    <td><input id="grass_test" type="number" min="0" max="12"></td>
                    <td><input id="pig_test" type="number" min="0" max="12"></td>
                    <td><input id="rag_test" type="number" min="0" max="12"></td>
                    <td><input id="tree_test" type="number" min="0" max="12"></td>
                    <td><input id="oak_test" type="number" min="0" max="12"></td>
                    <td><input id="plant_test" type="number" min="0" max="12"></td>
                </tr>
                <tr>
                    <th scope="row" data-balloon="How much to dilute the dose for proper treatment"
                        data-balloon-pos="up">Dilution Dosage (1-5)</th>
                    <td><input id="cat_ment" type="number" min="0" max="5"></td>
                    <td><input id="dog_ment" type="number" min="0" max="5"></td>
                    <td><input id="epic_ment" type="number" min="0" max="5"></td>
                    <td><input id="grass_ment" type="number" min="0" max="5"></td>
                    <td><input id="pig_ment" type="number" min="0" max="5"></td>
                    <td><input id="rag_ment" type="number" min="0" max="5"></td>
                    <td><input id="tree_ment" type="number" min="0" max="5"></td>
                    <td><input id="oak_ment" type="number" min="0" max="5"></td>
                    <td><input id="plant_ment" type="number" min="0" max="5"></td>
                </tr>
                <tr height="100">
                    <th scope="row" colspan="1" data-balloon="Notes for future use" data-balloon-pos="up">Notes:
                    </th>
                    <td colspan="10"><input id="notes" type="text"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="patient_id" placeholder="enter patient id">
                    </td>
                </tr>
            <tbody>
        </table>
        <div>
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>
</div>

<div class="container" id="dropdownContain justify-content-center">
    <h4 class="name">ID: {{{patients.patient_id}}} Name: {{{patients.first_name}}} {{{patients.last_name}}}</h4>

    {{!-- Tried to have another drop down for the patient_id but it will only let me use one dropdrown at a time. --}}

    {{!-- <div class="col-6 dropdown">
            <button class="btn bg-light text-dark dropdown-toggle" type="button" data-toggle="dropdown">Tests
                Search
                <span class=""></span></button>
            <ul class="dropdown-menu">
                {{#each antigens}}
                <li data-id="{{id}}" class="list-group-item">
                    <a href="/result/{{patient_id}}"> {{patient_id}}</a>
                </li>
                {{/each}}
            </ul>
        </div> --}}
    
    <a class="name" href="/aResults/{{patients.patient_id}}">Test Results For
        Antigens For Patient ID:{{patients.patient_id}}</a></h4>
        <br>
    <div class="col-6 justify-content-center">
        <ul class="name" id="antigens">
            <li>CAT: {{antigens.cat}}</li>
            <li>DOG: {{antigens.dog}}</li>
            <li>EPIC: {{antigens.epic}}</li>
            <li>GRASS: {{antigens.grass}}</li>
            <li>PIG: {{antigens.pig}}</li>
            <li>RAG: {{antigens.rag}}</li>
            <li>TREE: {{antigens.tree}}</li>
            <li>OAK: {{antigens.oak}}</li>
            <li>PLANT: {{antigens.plant}}</li>
        </ul>
        <br>
        <h4><a class="name" href="/dResults/{{patients.patient_id}}">Antigen Treatment Consentrate Dilution
                Ratio For Patient ID:{{patients.patient_id}}</a>
            <h4>
                <br>
                <ul class="name" id="dilutions">
                    <li>CAT: {{dilutions.cat}}</li>
                    <li>DOG: {{dilutions.dog}}</li>
                    <li>EPIC: {{dilutions.epic}}</li>
                    <li>GRASS: {{dilutions.grass}}</li>
                    <li>PIG: {{dilutions.pig}}</li>
                    <li>RAG: {{dilutions.rag}}</li>
                    <li>TREE: {{dilutions.tree}}</li>
                    <li>OAK: {{dilutions.oak}}</li>
                    <li>PLANT: {{dilutions.plant}}</li>
                </ul>
                <br>
    </div>

</div>


<div id="example"></div>
<div class=footer>
    <p>&copy Copyright 2019</p>
</div>
{{!-- </div> --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.12/bootstrap-native-v4.min.js"></script>